.texto-grande{
  font-family: 'Poppins';
  font-size: 64px;
  font-weight: 600;
  line-height: 1.125; /* o Cálculo será feito assim: (font-size/line-height definido)*/
}
.texto-medio{
  font-family: 'Libre Franklin';
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}